.menu-container {
  z-index: 93;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: white;

  .subtitle {
    padding-left: .5rem;
  }

  .no-bullet-list {
    list-style-type: none;
    padding-left: .5rem;
    .list-item {
      &:hover {
        background-color: rgb(221, 219, 219);
      }
    }
  }
  .button {
    margin: .5rem;
  }
}